<body>
  <br><br><br>
  <div class="jumbotron">
  <h1 class="display-4"><b>Hello there!</b></h1>
  <p class="lead">This is a simple shopping cart application.</p>
  <a class="btn btn-primary btn-lg" href="#" role="button">Log in</a>
  <hr class="my-4">
  <h2>Featured Items</h2>
    <div class="row justify-content-center container">
      <div class="col-sm-6 col-md-4" style="border: 1px solid black;">
        <div class = "thumbnail" style="border: 1px solid blue;">
          <img src="/apple.png" alt="apple" class="img-responsive">
          <div class="caption">
            <p>Apples</p>
            <p><a href="a" class="btn btn-primary" role="button">Button</a></p>
          </div>
        </div>
      </div>
        <div class="col-sm-6 col-md-4">
          <div class = "thumbnail">
            <img src="/banana.jpg" alt="banana" class="img-responsive">
            <div class="caption">
              <p>Bananas</p>
              <p><a href="a" class="btn btn-primary" role="button">Button</a></p>
            </div>
          </div>
        </div>
        <div class="col-sm-6 col-md-4">
          <div class = "thumbnail">
            <img src="/strawberries.jpg" alt="strawberries" class="img-responsive">
            <div class="caption">
              <p>Strawberries</p>
              <p><a href="a" class="btn btn-primary" role="button">Button</a></p>
            </div>
          </div>
        </div>
      </div>
    </div>
</div>
</body>